# React Native specific
node_modules/
*.log
*.swp
*.swo
*.sublime-project
*.sublime-workspace
.DS_Store
.expo/
.expo-shared/
yarn.lock
package-lock.json
/ios/Pods/
*.xcodeproj/*
*.xcworkspace/
ios/build/
/android/app/build/
/android/.gradle/
/android/.idea/
/android/*/build
/android/*/local.properties
/android/*/intermediates/
/android/*/generated/
/android/app/src/debug/
/android/app/src/release/
/android/app/src/androidTest/
/android/app/src/main/assets/index.android.bundle
/android/.gradle/
/android/.idea/
/android/build
/android/gradle/
/android/app/src/debug/
/android/app/src/release/
/android/app/src/androidTest/
/android/app/src/main/assets/index.android.bundle
.gradle/
local.properties
.idea/
/build/
/app/*.keystore
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
fastlane/readme.md
*.jks
*.p8
*.key
*.mobileprovision
*.pem

# macOS files
*.DS_Store
*.xcuserdata/
